.hero .imgblock::before {
  background-image: url("../images/plage_roche_noir.webp");
  opacity: 1;
}

  .split .img-iut {
  background-image: url("../images/iut.webp");
  background-size: cover;
  background-position: center;
  min-height: 320px;
}

.split .img-hobbies {
  background-image: url("../images/concert.webp");
  background-size: cover;
  background-position: center;
  min-height: 320px;
}

.split .img-ia {
  background-image: url("../images/computer.webp");
  background-size: cover;
  background-position: center;
  min-height: 320px;
}