.hero .imgblock::before {
  background-image: url("../images/fond_violet.webp");
  opacity: 0.66;
}

.split li {
  margin-bottom: 12px;
  line-height: 1.6;
}

.contenu p , .contenu li {
  margin : 0 40px 12px 40px;
}