.hero .imgblock::before {
  background-image: url("../images/fond_fleur_projets.webp");
  opacity: 0.8;
}

  .split .img-trattoria {
  background-image: url("../images/tratoria.webp");
  background-size: cover;
  background-position: center;
  min-height: 320px;
}

.split .img-sokoban {
  background-image: url("../images/sokoban.webp");
  background-size: cover;
  background-position: center;
  min-height: 320px;
}

.split .img-app {
  background-image: url("../images/tournois_esport_app.webp");
  background-size: cover;
  background-position: top;
  min-height: 320px;
}

.split .img-mariage {
  background-image: url("../images/site_mariage.gif");
  background-size: cover;
  background-position: top;
  min-height: 320px;
}

.split .img-game {
  background-image: url("../images/game_idle.gif");
  background-size: cover;
  background-position: top;
  min-height: 320px;
}